.footerBar{
    height: 1rem;
    .am-tab-bar-bar{
        display: box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
    }
    img{
        width: 0.38rem;
        height: 0.38rem;
    }
    .img-box{
        margin-bottom: 0.07rem
    }
}