.header{
    width: 100%;
    padding: 0 .1rem;
    height: .8rem;
    background: #fafafa;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: .01rem solid #e9e9f0;
    .header-back{
        width: .6rem;
        height: .6rem;
        position: absolute;
        top: 50%;
        margin-top: -.3rem;
    }
    .header-title{
        text-align: center;
        line-height: .8rem;
        font-size: .28rem;
    }
    .header-other{
        height: .6rem;
        position: absolute;
        top: 50%;
        right: .3rem;
        margin-top: -.3rem;
        img{
            width: .6rem;
            height: 100%;
        }
    }
}