.page{
    height: 100%;
    .content{
        height: calc(100% - 1rem);
    }
    .tabbar{
        height: 1rem;
        background-color: brown;
    }
}
.page-box{
    background-color: $color_bg;
}